:root {
  --default-white: hsl(0, 0%, 100%);
  --font-color: hsl(332, 51%, 32%);
  --rose-white: hsl(330, 100%, 98%);
  --body-color: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --nutmeg: hsl(14, 45%, 36%);
  --default-font: "Outfit", sans-serif;
  --secondary-font: "Young Serif", serif;
}
body {
  background: var(--body-color);
  display: flex;
  width: 1440px;
  margin-top: 90px;
}
.container {
  width: 47%;
  height: 30%;
  background: var(--default-white);
  margin: 0 auto;
  border: 1px solid none;
  border-radius: 20px;
  padding: 20px;
}
.omelette img {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  border-radius: 30px;
}
.herd {
  padding: 20px;
}
.herd h1 {
  width: 90%;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-charcoal);
}
.herd p {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--wenge-brown);
  margin-top: 20px;
}
.process {
  background: var(--rose-white);
  padding: 10px;
  border-radius: 10px;
  margin-top: 35px;
  width: 90%;
  margin: 0 auto;
}
.process h2 {
  font-family: var(--default-font);
  color: var(--font-color);
  font-size: 17px;
}
.process ul {
  font-family: var(--default-font);
  color: var(--wenge-brown);
}
.process ul li {
  margin-bottom: 10px;
}
.process ul li::marker {
  color: var(--nutmeg);
}
.ingredients {
  padding: 20px;
}
.ingredients h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
  margin-bottom: 20px;
}
.ingredients ul {
  font-family: var(--default-font);
  color: var(--wenge-brown);
  font-weight: 400;
  margin-bottom: 30px;
}
.ingredients ul li {
  margin-bottom: 10px;
}
.ingredients ul li::marker {
  color: var(--nutmeg);
}
.instructions {
  padding: 20px;
}
.instructions h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
}
.instructions ol {
  font-family: var(--default-font);
  color: var(--wenge-brown);
  font-weight: 400;
  margin-bottom: 30px;
}
.instructions ol li::marker {
  color: var(--nutmeg);
  font-weight: 700;
}
.instructions ol li {
  margin-bottom: 10px;
  padding-left: 20px;
}
.nutrition {
  padding: 20px;
}
.nutrition h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
  margin-top: 20px;
}
.nutrition p {
  font-family: var(--default-font);
  font-size: 16px;
  color: var(--wenge-brown);
}
.value {
  font-family: var(--default-font);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.calories {
  color: var(--wenge-brown);
  padding-left: 20px;
}
.num {
  font-weight: 700;
  color: var(--nutmeg);
  padding-right: 45%;
}
.num1 {
  padding-right: 49%;
  color: var(--nutmeg);
  font-weight: 700;
}
.num2 {
  padding-right: 50%;
  color: var(--nutmeg);
  font-weight: 700;
}
hr {
  background: var(--light-grey);
  border: none;
  height: 1px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 0;
  }
  h2 {
    padding-left: 20px;
  }
  .omelette img {
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
  }
  .herd {
    padding: 20px;
  }
  .herd h1 {
    width: 70%;
    margin: 10px;
  }
  .process {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }
  .process h2 {
    padding-left: 15px;
  }
  .ingredients {
    padding: 20px;
  }
  .instructions {
    padding: 20px;
  }
  .instructions ol li {
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .nutrition {
    padding: 20px;
  }
  .calories {
    padding-left: 10px;
  }
  .num {
    padding-right: 38%;
  }
  .num1 {
    padding-right: 47%;
  }
  .num2 {
    padding-right: 49%;
  }
}
