:root {
  --default-white: hsl(0, 0%, 100%);
  --font-color: hsl(332, 51%, 32%);
  --rose-white: hsl(330, 100%, 98%);
  --body-color: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --nutmeg: hsl(14, 45%, 36%);
  --default-font: "Outfit", sans-serif;
  --secondary-font: "Young Serif", serif;
}
body {
  background: var(--body-color);
}
.container {
  width: 50%;
  background: var(--default-white);
  margin: 0 auto;
  border: 1px solid none;
  border-radius: 10px;
  padding: 20px;
}
.image img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
.herd h1 {
  width: 90%;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-charcoal);
}
.herd p {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--wenge-brown);
}
.process {
  background: var(--rose-white);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.process h2 {
  font-family: var(--default-font);
  color: var(--font-color);
  font-size: 17px;
}
.process ul {
  font-family: var(--default-font);
  color: var(--wenge-brown);
}
.process ul li {
  margin-bottom: 10px;
}
.process ul li::marker {
  color: var(--nutmeg);
}
.ingredients h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
  margin-bottom: 20px;
}
.ingredients ul {
  font-family: var(--default-font);
  color: var(--wenge-brown);
  font-weight: 400;
  margin-bottom: 30px;
}
.ingredients ul li {
  margin-bottom: 10px;
}
.ingredients ul li::marker {
  color: var(--nutmeg);
}
.instructions h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
}
.instructions ol {
  font-family: var(--default-font);
  color: var(--wenge-brown);
  font-weight: 400;
  margin-bottom: 30px;
}
.instructions ol li::marker {
  color: var(--nutmeg);
  font-weight: 700;
}
.instructions ol li {
  margin-bottom: 10px;
  padding-left: 20px;
}
.nutrition h2 {
  font-family: var(--secondary-font);
  color: var(--nutmeg);
  margin-top: 20px;
}
.nutrition p {
  font-family: var(--default-font);
  font-size: 16px;
  color: var(--wenge-brown);
}
.value {
  font-family: var(--default-font);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.calories {
  color: var(--wenge-brown);
  padding-left: 20px;
}
.num {
  font-weight: 700;
  color: var(--nutmeg);
  padding-right: 26%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
